.muted-text {
  opacity: 50% !important;
  font-style: italic !important;
  font-size: 0.9em !important;
}

.list-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon-button-padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}